{{ define "test1"}}
<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <META charset="UTF-8">
        <META name="viewport" content="width=device-width, initial-scale=1.0">
        <META http-equiv="X-UA-Compatible" content="ie-edge">

        <TITLE>golang-basic / http-server-crud-template-database-mssql</TITLE>
    </HEAD>
    <BODY>
        <H1>golang-basic / http-server-crud-template-database-mssql</H1>

        <a href="/">HOME</a>
        <a href="/test1">test1-monolithic</a>
        <a href="/test2">test2-multiple-parts</a>

        <ul>
            <li> filename: ./view/test1.tmpl </li>
            <li> description: monolithic is unique file template with tags: HTML, HEAD and BODY </li>
        </ul>
    </BODY>
</HTML>
{{ end }}