{{ define "test3c" }}
        <ul>
            <li> filename: ./view/test3.tmpl </li>
            <li> description: multiple parts template includes anothers templates for header, menu, body and footer </li>
        </ul>
{{ end }}