{{ define "test2"}}
<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <META charset="UTF-8">
        <META name="viewport" content="width=device-width, initial-scale=1.0">
        <META http-equiv="X-UA-Compatible" content="ie-edge">

        <TITLE>golang-basic / http-server-crud-template-database-mssql</TITLE>
    </HEAD>
    <BODY>
        <H1>golang-basic / http-server-crud-template-database-mssql</H1>
        <p></p>
        {{ template "test2a" }}
        <ul>
            <li> filename: ./view/test2.tmpl </li>
            <li> description: multiple parts template includes anothers templates for menu</li>
        </ul>
    </BODY>
</HTML>
{{ end }}
